@{
    ViewBag.Title = "Keuze";
}

<div class="row">
    <div class="col-md-12 login">
        <h2>Als wie wilt u inloggen?</h2>
    </div>
    <div class="col-md-6">
        <a href="#" class="btn btn-default btn-keuze pull-right">Hulpbehoevende</a>
    </div>
    <div class="col-md-6">
        <a href="#" class="btn btn-default btn-keuze">Vrijwilliger</a>
    </div>
</div>