@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12 login">
        <h2>Log in</h2>
    </div>

    <div class="col-md-5 login-form">
        @using (Html.BeginForm("LoginPost", "Login", FormMethod.Post))
        {
            <div class="form-group">
                E-mail : @Html.TextBox("email", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                Wachtwoord : @Html.TextBox("wachtwoord", null, new { @class = "form-control", @type = "password" })
            </div>
            <input type="submit" value="Log in" class="btn btn-default" />

        }
        
        @if (@ViewBag.LoginResult !=null && !@ViewBag.LoginResult)
        {

            <br />
            <div class="alert alert-danger" role="alert">
                Er ging iets mis bij het inloggen!
                
            </div>
        }

    </div>
    <div class="col-md-7 instructies">
        <h2>Instructies</h2>
        <p>&bull; instructie 1</p>
        <p>&bull; instructie 1</p>
        <p>&bull; instructie 1</p>
        <p>&bull; instructie 1</p>
        <p>&bull; instructie 1</p>
    </div>
</div>