
@{
    ViewBag.Title = "Reageer";
}

<h2>Reageer</h2>
<form action="/Vrijwilliger/CreateReactie" method="POST">
    <div class="form-group">
        <input type="hidden" name="id" value="@ViewBag.hulpvraagid">
        <label for="comment">Bericht:</label>
        <textarea name="bericht" class="form-control" rows="5" ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Verzend</button>
</form>