
@{
    ViewBag.Title = "Reageer";
}

<h2>Reageer</h2>

<div class="form-group">
    <label for="comment">Bericht:</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
<button type="button" class="btn btn-primary">Verzend</button>


@*Bericht = bericht;
Datum = datum;
VrijwilligerId = vrijwilligerId;
HulpvraagId = hulpvraagId;*@