@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 login">
        <h2>Log in</h2>
    </div>

    <div class="col-md-5 login-form">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <p>
                Gebruikersnaam: @Html.TextBox("Gebruikersnaam", null, new { @class = "form-control" })
                Wachtwoord : @Html.TextBox("Wachtwoord", null, new { @class = "form-control" })
            </p>
        }
    </div>
    <div class="col-md-7 instructies">
    </div>
</div>